InlayHints:
  ParameterNames: false # Never show parameter names
  DeducedTypes: false 
  Designators: false

Diagnostics:
  UnusedIncludes: None # Disable unused include warnings
  # Suppress: [pp_file_not_found] # Suppress preprocessor file not found warnings

CompileFlags:
  CompilationDatabase: C:/Users/blake/Programing/C++ Projects/Pure Log/build
  Compiler: "C:/Program Files/MSYS2/mingw64/bin/g++.exe"
  Add:
    # - -std=c++23
    - -Wno-inline-namespace-reopened-noninline # Suppress inline namespace reopened warning for Clang